/* Style the body*/
body {
  background-image: url(img/background.jpg);
  font-family: "Fjalla One", sans-serif;
  font-size: large;
  
}

.content {
  display: grid;
  justify-content: center;
  align-content: center;
}

/* Header */
.header {
  border: 10px solid #000000;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  background-color: #137946;
  margin: 15px;
  color: rgb(0, 0, 0);
  font-size: large;
  width: 1000px;
}

.navbar {
  border: 10px solid #000000;
  border-radius: 5px;
  background-color: #9b2020;
  margin: 15px 50px 15px 50px;
  padding: 18px;

}

.navbar a {
  float: left;
  display: block;
  color: rgb(23, 56, 128);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bolder;
}

#index {
  float: right;
  display: block;
  color: rgb(23, 56, 128);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Content */

.basics {
  border: 10px solid #000000;
  border-radius: 5px;
  display: block;
  text-align: center;
  background-color: #ffc526;
  color: rgb(0, 0, 0);
  height: 350px;
  width: 800px;
  margin: auto;
}
.basics a {
  color: #bd3310;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}

.basics li {
  list-style-type: none;
}

/*sovellukset*/

.apps {
  margin: auto;
  width: 800px;
  height: 800px;
}

.app {
  border-radius: 15px;
  display: inline-block;
  width: 350px;
  height: 350px;
  margin: 10px;
  border: solid 10px black;
}

.app img {
  height: 350px;
  width: 350px;
}

/*Some*/

.some {
  border: 10px solid #000000;
  border-radius: 5px;
  display: block;
  text-align: center;
  background-color: #ffc526;
  color: rgb(0, 0, 0);
  height: 250px;
  width: 400px;
  margin: auto;
}

.some li {
  list-style-type: none;
}

.some a {
  color: #bd3310;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}
