/* Style the body*/
body {
  background-color: #d5d6d2;
  font-family: "Fjalla One", sans-serif;
  font-size: large;
}

/* Header */
.header {
  padding: 50px;
  text-align: center;
  background-color: #336b87;
  margin: 15px;
  color: cornsilk;
  font-size: large;
}

.navbar {
  background-color: #2f2e33;
  overflow: hidden;
  margin: 15px 50px 15px 50px;
  padding: 18px;
}

.navbar a {
  float: left;
  display: block;
  color: cornsilk;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

#somet {
  float: left;
  color: cornsilk;
  margin-top: 15px;
}

somelista {
  height: 50px;
  width: 20px;
  background-color: #2f2e33;
  color: cornsilk;
}
/* Content */

.content {
  border: 6px solid #336b87;
  display: block;
  text-align: center;
  background-color: #2f2e33;
  color: cornsilk;
  float: left;
  position: static;
  height: 400px;
  width: 500px;
  margin-left: 50px;
}
.content a {
  color: #336b87;
}

.harrastukset {
  border: 6px solid #336b87;
  display: block;
  text-align: center;
  background-color: #2f2e33;
  color: cornsilk;
  height: 500px;
  width: 1000px;
  float: right;
  margin-right: 50px;
  padding-bottom: 80px;
}

.harrastukset a {
  color: #336b87;
}

.hobby img {
  height: 35px;
  width: 35px;
}