/* Style the body*/
body {
  background-color: #f3cdb0;
  font-family: "Fjalla One", sans-serif;
  font-size: large;
}

/* Header */
.header {
  border: 10px solid #fcc0bf;
  border-radius: 5px;
  padding: 50px;
  text-align: center;
  background-color: #50231d;
  margin: 15px;
  color: cornsilk;
  font-size: large;
}

.navbar {
  border: 10px solid #fcc0bf;
  border-radius: 5px;
  background-color: #50231d;
  overflow: hidden;
  margin: 15px 50px 15px 50px;
  padding: 18px;
}

.navbar a {
  float: left;
  display: block;
  color: cornsilk;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

#index {
  float: right;
  display: block;
  color: cornsilk;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Content */

.basics {
  border: 10px solid #fcc0bf;
  border-radius: 5px;
  display: block;
  text-align: center;
  background-color: #50231d;
  color: cornsilk;
  height: 350px;
  width: 1300px;
  margin: auto;
}
.basics a {
  color: #fcc0bf;
  text-decoration: none;
  font-size: 20px;
}

.basics li {
  list-style-type: none;
}

/*Pelit*/

.pelit {
  border: 10px solid #fcc0bf;
  border-radius: 5px;
  text-align: center;
  color: cornsilk;
  height: 400px;
  width: 500px;
  margin: auto;
  display: block;
}

.pelit img {
  height: 400px;
  width: 500px;
  margin: auto;
}

/*Some*/

.some {
  margin-left: 70px;
}

.some li {
  list-style-type: none;
}

.some a {
  text-decoration: none;
  color: #fcc0bf;
  font-size: x-large;
}
