viesti{
    display: block;
    margin: 20px;
    border: 1px solid cornflowerblue;
    background-color: darkgrey;
}

lähettäjä{
    display: block;
    font-weight: bold;
    font-size: larger;
}

aihe{
    display: block;
}

teksti{
    display: block;
}

aika{
    display: block;
}
    